<% provide(:title, @product.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="product_info">
      <h1>
        <%= @product.name %>
        <%= @product.price %>
        <%= @product.picture %>
      </h1>
    </section>
  </aside>
</div>
